{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<style>

button {
  touch-action: manipulation;
}

</style>

<script type="text/javascript">

    chartstyle = 2;
    console.log('Brewcontroller chart page');
    ip = "http://pibrew:5000"
    temp1value = 68.5;
    temp2value = 72.5;
    targetvalues = [0, 0];
    targetincrement = 1.0

    function updateDisplay() {
        console.log("Reload data");
        for (var i = 1; i < 3; i++) {
            let s = i.toString();
            $.getJSON(ip + '/values/' + s, function(d) {
                $('#temp' + s).html(d.temperature.toFixed(1));
                $('#state' + s).html(d.status);
                $('#program' + s).html(d.program);
                $("#currentLastUpdated").html(d.time);
                lastupdatetime = d.time;
            });
        }
    }

    function updateTargets() {
        console.log("Reload data");
        for (var i = 1; i < 3; i++) {
            let s = i.toString();
            $.getJSON(ip + '/values/' + s, function(d) {
                channel = d.channelid
                channelstr = channel.toString();
                $('#target' + channelstr).html(d.target.toFixed(1));
                targetvalues[channel - 1] = d.target;
            });
        }
    }

    function setTargetValue(channel, targetvalue) {
        targetvalues[channel - 1] = targetvalue;
        let s = channel.toString();
        $("#target" + s).text(targetvalues[channel -1].toFixed(1));

        $.ajax({
                url: '/values/' + s,
                type: 'POST',
                data: {
                    target: targetvalues[channel - 1],
                },
                success: function () {
                }
            })
    }


    $(document).ready(function(){

        updateDisplay();
        updateTargets();

        setInterval(updateDisplay, 2000)

        $("#buttontargetplus1").click(function() {
            setTargetValue(1, targetvalues[0] + targetincrement)
        });

        $("#buttontargetminus1").click(function() {
            setTargetValue(1, targetvalues[0] - targetincrement)
        });

        $("#buttontargetplus2").click(function() {
            setTargetValue(2, targetvalues[1] + targetincrement)
        });

        $("#buttontargetminus2").click(function() {
            setTargetValue(2, targetvalues[1] - targetincrement)
        });

        //updateCurrentTemperature()

        $('#reloadCharts').click(function() {
            updateDisplay();
        });

    });
</script>


<table class="table table-striped table-dark">
  <tbody>
    <tr>
      <th class="text-center" style="width: 16%" scope="col">
          Current
          <div id="currentLastUpdated" class="col">
                      13:44:32
                  </div></th>
    </tr>
    <tr>
      <th class="text-center" scope="row">Target</th>
        <td class="text-center"><div id = "target1" class="display-4">0</div><p></p>
          <div class = "container">
<div id="channel1Status"></div><div id="chart"></div>
          </div>
      </td>
    </tr>
      </tbody>
</table>


</div>
</div>


{% endblock %}

